
{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% block content%}  
      
        <br/>
       <div class="page-content" style="">
       {% include 'Messages.html' %}
        <div class="ui segment">
            <h3>Units</h3>
            <label>Please review the data in the table below</label>
            <div>
                <!-- <div class="ui selection dropdown">
                    <i class="dropdown icon"></i>
                    <div class="default text">Gender</div>
                    <div class="menu">
                      <div class="item" data-value="1">Male</div>
                      <div class="item" data-value="0">Female</div>
                    </div>
                </div> -->
                <div class="page-toolbar">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                  </div>
                  <a href="/adjustments/create" class="ui violet icon button large-button">
                    <i class="plus icon"></i>
                       <span style="width: auto;"> Create Unit </span>
                  </a>
                </div>
            </div>
        </div>    
          <table class="ui celled stackable padded table">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Child Of</th>
                              
                </tr>
              </thead>
              <tbody>
                {% for unit in units %}
                     <tr>
                    <td class="single line">
                    <span>Ref:  </span> <label> {{unit.name}} </label><br/>
                    <!-- <span>Date:  </span> <label> {{adjustment.date}} </label> -->
                    
                    </td>
                    <td class="single line">
                        <span>To: </span> <label> {{unit.code}} </label> <br/>
                        
                    </td>
                    <td>{{ unit.parent_category }}</td>
                   
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr><th colspan="5">
                  <div class="ui right floated pagination menu">
                    <a class="icon item">
                      <i class="left chevron icon"></i>
                    </a>
                    <a class="item">1</a>
                    <a class="item">2</a>
                    <a class="item">3</a>
                    <a class="item">4</a>
                    <a class="icon item">
                      <i class="right chevron icon"></i>
                    </a>
                  </div>
                </th>
              </tr></tfoot>
          </table>
          <script>
             
              
          </script>
        </div>
        {% endblock %}
      
            // fetch('',{
            //     method: "GET",
            //     headers: {
            //         Accept: "application/json, text/plain, */*",
            //         "Content-Type": "application/json",
            //         "Accept-Encoding": "gzip,deflate,br",                    
            //     },
            
            // }).then((response) => {

            // }).then((data) => {
                
            // })
        </script>
    </body>
</html>