 <div class="ui small modal">
                    <input type="hidden" id="are_options_selected">
                    <div class="header">Select Variants</div>
                        <div class="content">
                        <!-- <p>gffv</p>
                        <p>gyduwgqdtwy</p>
                        <p>bdwbhy</p> -->
                            <div class="ui form">
                                    <div class="fields">
                                        <input placeholder="Scan barcode" />
                                    </div>
                                    <input type="hidden" id="selectedOption"> 
                                    <div class="fields" id="item_variant">
                                        <!-- <div class="field">
                                            <span id=""></span>
                                        </div>
                                        <div class="field">

                                        </div> -->
                                    </div>
                            </div>
                        </div>
                  </div>